# Data — never commit raw or processed datasets
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# DuckDB databases
*.duckdb
*.duckdb.wal

# Power BI
dashboard/*.pbix.tmp

# Python
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Kaggle credentials
kaggle.json
